<div class="comments" id="comments-section">
	<script type="text/javascript">
		var date = new Date(document.getElementById("date-store").getAttribute("title"));
        console.log( date );
        date.setHours( 0 );
		date.setMinutes( 0 );
		date.setSeconds( 0 );
        console.log( date );
        var dateGMT_ISO8601_start = date.toUTCString();
		date.setHours( 24 );
		var dateGMT_ISO8601_end = date.toUTCString();
		var commits = new XMLHttpRequest();
		commits.addEventListener("load", function(){
		   var response = JSON.parse( this.responseText );
		   console.log("start(" + dateGMT_ISO8601_start + ") - end(" + dateGMT_ISO8601_end + ")" );
		   console.log( response );
		   for( var i = 0; i < response.length; i++ ){
			   var meantForComments = response[i]["commit"]["message"].includes("comments");
			   if( !meantForComments )
			       continue;
			   console.log( "winning commit: " + response[i] );
			   document.getElementsByClassName("comments-section").innerHTML = "<a href=\"" + response[i]["comments_url"] + "\"> Comment on this Post </a>";
		   }
		});
		commits.open("GET", "https://api.github.com/repos/LWSS/lwss.github.io/commits?since=" + dateGMT_ISO8601_start + "&until=" + dateGMT_ISO8601_end );
		commits.send();
	</script>
</div>